<div class="banner omp_bg-big-banner">
  <div class="container">
    <h1>A perfect <strong>sitter</strong> for <strong>your loving pets</strong>!</h1>
    <p>Our fabulous pets are waiting for the perfect sitter!.</p>
    <%= link_to "Discover", pets_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row row-cols-3 row-cols-sm-3 row-cols-xs-1 mt-5">
    <div class="col mb-4">
      <div class="card omp_bg-pets1">
        <div class="card-body">
          <div class="mb-2 d-flex align-items-center">
            <h5 class="card-title d-inline-block mr-2 mb-0">Just arrived!</h5>
          </div>
          <p class="card-text">Discover our new offers</p>
          <%= link_to "View", pets_path(order: 'created_at'), class: "btn btn-primary omp_btn-rounded-only-br" %>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card omp_bg-pets2">
        <div class="card-body">
          <div class="mb-2 d-flex align-items-center">
            <h5 class="card-title d-inline-block mr-2 mb-0">Pet of the month!</h5>
          </div>
          <p class="card-text">Discover our favorite pet</p>
          <%= link_to "View", pets_path, class: "btn btn-primary omp_btn-rounded-only-br" %>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card omp_bg-pets3">
        <div class="card-body">
          <div class="mb-2 d-flex align-items-center">
            <h5 class="card-title d-inline-block mr-2 mb-0">Create your pet!</h5>
          </div>
          <p class="card-text">Go go go</p>
          <%= link_to "View", new_pet_path, class: "btn btn-primary omp_btn-rounded-only-br" %>
        </div>
      </div>
    </div>
  </div>
</div>

