.btn {
  // font-weight: 800;
  font-family: $headers-font;
  text-transform: uppercase;
}

.omp_btn-rounded-only-br {
  border-radius: 0 0 4px 0;
}


.omp_btn-rounded-hp {
  border-radius: 0 0 4px 0;
  background-color: white
}
