.omp_bold {
  font-weight: 800;
}
.omp_headers-font {
  font-family: $headers-font;
}
.omp_body-font {
  font-family: $body-font;
}

.omp_reward {
  font-size: 1.5em;
  color: $peach;
}

a.omp_no-deco {
  text-decoration: none;
}

a.omp_light-peach {
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

.omp_1_1em {
  font-size: 1.1em;
}

a.omp_filter {
  text-decoration: none;
  font-family: $headers-font;
  color: black;
}

